---
import { Icon } from 'astro-icon/components';
---

<div class="section bg-neutral-900">
            <div class="inner-section">
                <div
                    class="sectionTitle w-full mx-auto space-y-4 text-center lg:text-left pb-8 md:pb-12 lg:pb-16">
                    <div class="groupTitle space-y-1 mb-4">
                        <h2 class="headline headline-h2 text-neutral-0">
                            Un échantillon de mes qualifiquations
                        </h2>
                    </div>
                    <p class="max-w-prose text-neutral-0">
                        Je me forme continuellement aux nouvelles méthodes de fitness
                    </p>
                </div>
                <div class="grid md:grid-cols-2 items-center gap-6 lg:gap-8">
                    <!-- Card -->
                    <article class="h-full p-6 bg-white border border-accent-20 rounded-lg shadow-accent-400 shadow-sm">
                        <Icon name="graduation-cap" size={48} class="text-accent-400 mb-3"/>
                        <h3 class="mb-2 headline headline-h4 text-neutral-0">Coach sportif diplômée d’état</h3>
                        <p class="mb-3 text-neutral-0">Coach fitness, musculation et haltérophilie sport santé. Organise et anime des activités sportives dans une ou plusieurs disciplines afin de former ou entraîner le public.</p>
                    </article>
                    <article class="h-full p-6 bg-white border border-accent-20 rounded-lg shadow-accent-400 shadow-sm">
                        <Icon name="medal" size={48} class="text-accent-400 mb-3"/>
                       <h3 class="mb-2 headline headline-h4 text-neutral-0">Certification méthode Pilates</h3>
                        <p class="mb-3 text-neutral-0">Maîtriser les techniques (exercices / postures et enchaînement) PILATES nécessaires à l’encadrement et la mise en œuvre des exercices avec et sans petit matériel</p>
                    </article>
                    <article class="h-full p-6 bg-white border border-accent-20 rounded-lg shadow-accent-400 shadow-sm">
                        <Icon name="flask" size={48} class="text-accent-400 mb-3"/>
                       <h3 class="mb-2 headline headline-h4 text-neutral-0">Formation en hormonologie</h3>
                        <p class="mb-3 text-neutral-0">
                            Compréhension des hormones dans l’optique de la perte de poids ou de la prise de masse.
                        </p>
                    </article>
                    <article class="h-full p-6 bg-white border border-accent-20 rounded-lg shadow-accent-400 shadow-sm">
                        <Icon name="medal" size={48} class="text-accent-400 mb-3"/>
                        <h3 class="mb-2 headline headline-h4 text-neutral-0">Certification Sport Santé AMAP</h3>
                        <p class="mb-3 text-neutral-0">
                            Il permet à l’éducateur sportif de prendre en charge des publics en perte d’autonomie et / ou souffrant de maladies chroniques.
                        </p>
                    </article>
                </div>
            </div>
        </div>