---
import { Image } from 'astro:assets';

//import components
import { Icon } from 'astro-icon/components';

---
<footer class="section py-6 text-neutral-700 text-fs-small max-h-fit">
    <div class="inner-section">
        <!-- Grid -->
      <div class="text-center grid justify-center">
        <div class="logo-wrapper w-full flex justify-center">
          <a 
              href="/"
              aria-label="lien vers la page d'accueil"
              class="flex-none"
          >
              <img
                  src="/images/logo-brand.svg"
                  alt="logo - Coaching by Helena" 
                  width={128}
                  height={128}
                  class="logo__img block max-h-16 max-w-[160px]">
          </a>
        </div>
          <div class="mt-3 space-y-2 flex flex-col justify-center items-center">
              <p class="text-fs-tiny text-neutral-700">© Coaching by Helena. 2023-204 - Tous droits réservés</p>
              <div class="linkWrapper w-full flex justify-center">
                <a href='/mentions-légales'><span class="text-fs-tiny">mentions légales</span></a>
            </div>            

          </div>
    
        </div>
      <!-- End Grid -->
    </div>
  </footer>