---
// library imports
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    icon?: {
        name:string;
    }
    classes?: string;
}

const {
    href,
    icon,
    classes,
    ...rest
} = Astro.props as Props;
---

<a 
    href={href}
    class:list={[classes]} 
    data-size="{size}"
    {...rest}

>
    <slot />

    {
        icon && (
        <Icon name={icon.name} class="w-4 text-neutral-0"/>
    )
    }
    
</a>

<style>
    .btn {
        @apply 
        px-4 py-3
        rounded-full flex items-center gap-2 max-w-fit mx-2
        text-fs-small uppercase
        hover:opacity-95
        scale-105
        focus:outline-none focus:ring
        transition duration-300;
        
    }
    .isPrimary {
        @apply bg-brand-500 border-brand-500 text-neutral-0
        hover:bg-brand-500 focus:ring-neutral-0
    }
    .isSecondary {
        @apply bg-accent-400 border-accent-400 hover:bg-accent-400 focus:ring-neutral-0
    }

    .link {
        @apply 
        text-fs-base text-neutral-700 underline underline-offset-2
        flex items-center justify-center gap-2 w-fit
        hover:decoration-brand-500 hover:text-neutral-700;
    }

    .light {
        @apply text-neutral-700 underline underline-offset-2 decoration-brand-500;
    }

</style>