---
export interface Props {
    title: string;
}

const { title } = Astro.props;

//import components
import Header from '../components/Header.astro';

---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="bg-accent-20">
        <Header/>
        <main>
           <slot/>
        </main>
    </body>
</html>

<style is:global>

    * {
        box-sizing: border-box;
    }
</style>
